%h4.text-danger The following contacts could not be imported.
%table.table.table-hover.table-responsive
  %thead
    %tr
      %th CSV First Name
      %th CSV Last Name
      %th CSV Email
      %th Result
      %th Errors
      %th Actions
  %tbody
    - batch_failures.each do |failure|
      %tr
        %td= failure.csv_data['first_name']
        %td= failure.csv_data['last_name']
        %td= failure.csv_data['email']
        %td
          %i.fa.fa-times-circle.text-danger
          = failure.result.titleize
        %td= failure.klass_errors.join('<br />').html_safe
        %td
          - if failure.result == ContactImportStatus::DUPLICATE_FOUND
            = render partial: 'contact_ajax_update_form', locals: { id: failure.klass_id, failure_id: failure.id, csv_data: failure.csv_data }

= paginate(batch_failures, param_name: :errors_page)
