%h2.heading Contacts Import

.row
  .col-xs-12
    = link_to 'Back to Contacts', contacts_path, class: 'btn'

.well.well-lg
  = batch.iconified_status

- if batch.status_failed?
  %h4.text-danger Your CSV File could not be uploaded due to the following errors
  %ul
    - batch.general_failures.each do |failure|
      %li= failure
- else
  .row
    .col-xs-12
    - if @error_contacts.present?
      = render partial: 'error_contacts'
  .row
    .col-xs-12
    - if @successful_contacts.present?
      = render partial: 'successful_contacts'
