%h2.heading Contacts

- if contacts.present?
  = render partial: 'shared/import_contacts'
  %table.table.table-hover.table-responsive
    %thead
      %tr
        %th Full Name
        %th Email
    %tbody
      - contacts.each do |contact|
        %tr
          %td= contact.full_name
          %td= contact.email

  = paginate(contacts)
- else
  %h4.center You currently don't have any contacts
  = render partial: 'shared/import_contacts'
